<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proud Resumes</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <header>
      <h1>PR | Proud Resumes</h1>
      <nav>
        <ul id="nav-list">
          <li><a href="/login">Login / Register</a></li>
        </ul>
      </nav>
    </header>
  </head>
  <body>
    <div class="container">
      <main>
        <section id="section1">Section 1</section>
        <section id="section2">Section 2</section>
        <section id="section3">Section 3</section>
      </main>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      //로컬스토리지에 유저아이디 여부 확인
      const userId = localStorage.getItem("userId");
      // 로컬스토리지에 유저아이디가 있다면 로그인 상태 -> nav에 프로필탭 띄우기
      if (userId) {
        const navList = document.getElementById("nav-list");
        navList.innerHTML = `<li><a href="/users">Profile</a></li>`;
      }
    });
  </script>
  <script src="../components/activity-timeout-logout.js"></script>
</html>
