<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proud Resumes</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <style>
      #logout {
        cursor: pointer; /* 손가락 모양 커서 적용 */
      }
      button {
        cursor: pointer; /* 손가락 모양 커서 적용 */
      }
      button:hover {
        transition: 0.3s;
        font-weight: bolder;
        background-color: #61dafb; /* 호버 시 색상 변경 */
        color: #ffffff;
      }
      .button {
        cursor: pointer; /* 손가락 모양 커서 적용 */
      }
      .button:hover {
        transition: 0.3s;
        border: 6px solid #ffffff;
        font-weight: bolder;
        background-color: #61dafb; /* 호버 시 색상 변경 */
        color: #ffffff;
        transform: scale(1.05); /* 호버 시 약간 확대 */
        font-size: 110%; /* 호버 시 글자 크기 10% 증가 */
      }
      .contents {
        color: #ffffff;
        font-weight: bolder;
        width: calc(100% - 100px); /* 기존 폭에서 40px 줄임 */
        align-content: center;
        margin: 20px auto; /* 가운데 정렬을 위한 마진 */
        padding: 10px; /* 패딩 추가 */
        background-color: #61dafb;
        border: 4px solid #ffffff; /* 테두리 추가 */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
      }
      #buttonDiv {
        align-content: center;
        margin: 20px auto; /* 가운데 정렬을 위한 마진 */
        text-align: center;
      }
      button {
        border: 2px solid #ffffff;
      }
      .error-message {
        color: red;
        font-size: 0.8em;
        height: 20px;
      }
    </style>
    <header>
      <h1>PR | Proud Resumes</h1>
      <nav>
        <ul id="nav-list">
          <li><a href="/">home</a></li>
          <li><a id="logout">logout</a></li>
        </ul>
      </nav>
    </header>
  </head>
  <body>
    <div class="container">
      <main>
        <nav>
          <ul>
            <section class="button" id="createResume">이력서 생성</section>
            <section class="button" id="getResume">이력서 목록</section>
            <section class="button" id="getUsers">개인정보</section>
          </ul>
        </nav>
      </main>
    </div>
  </body>
  <script src="../components/activity-timeout-logout.js"></script>
  <script src="../components/profile.js"></script>
</html>
